body {
    margin: 0;
    background-image: url(https://images.unsplash.com/photo-1527224538127-2104bb71c51b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-color: black;
    color: white;
}

h1 {
    margin: 50px;
    font-size: 60px;
}

.menu {
    margin: 40px auto;
    font-size: 22px;
    max-width: 70%;
}

ul {
    margin: 0;
    padding: 8px 0px;
}

li {
    padding-bottom: 3px;
}

span {
    font-weight: bold;
}

main {
    text-align: center;
    margin: 0px;
    padding-bottom: 80px;
}

h2 {
    margin: 50px auto 20px auto;
    max-width: 70%;
}

.pizza-pictures {
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

img {
    height: 280px;
    width: 280px;
    margin: 20px;
    object-fit: cover;
    border-radius: 50%;
}

.pizza {
    filter: grayscale(100%);
    opacity: 0.9;
}

.pizza:hover {
    filter: grayscale(0%);
}

.pizza p {
    position: absolute;
    width: 320px;
    margin-top: 140px;
    font-size: 40px;
    z-index: 1;
    text-shadow: 0px 0px 3px black;
}

.active {
    filter: grayscale(0%);
    opacity: 1;
}
  
.active + .answer {
    visibility: visible;
    max-height: 1000px;
    opacity: 1;
}

.quantity {
    margin: 20px;
}

label {
    font-size: 22px;
}

button {
    margin: 20px;
    background-color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
}
