body {
    margin: 0;
    background-image: url(https://images.unsplash.com/photo-1527224538127-2104bb71c51b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: black;
    color: white;
}

header {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header menu";
    height: 150px;
}

h1 {
    grid-area: header;
    margin: 50px;
    font-size: 60px;
}

.menu {
    grid-area: menu;
    margin: 40px 20px 40px 0px;
    font-size: 18px;
}

ul {
    margin: 0;
    padding: 0;
}

span {
    font-weight: bold;
}

main {
    text-align: center;
}

h2 {
    margin: 50px 50px 20px 50px;
}

.pizza-pictures {
    display: flex;
    justify-content: center;
}

img {
    height: 280px;
    width: 280px;
    margin: 20px;
    object-fit: cover;
    border-radius: 50%;
    filter: grayscale(100%);
    opacity: 0.9;
}

.active {
    filter: grayscale(0%);
    opacity: 1;
  }
  
  .active + .answer {
    visibility: visible;
    max-height: 1000px;
    opacity: 1;
  }
  
  .accordion-dog .question:after {
    content: 'ᐅ'; 
    font-size: 15px;
    float: right;
    margin-right: 5px;
  }
  
  .accordion-dog .question.active:after {
    content: 'ᐁ'; 
  }

.quantity {
    margin: 20px;
}

label {
    font-size: 20px;
}

button {
    margin: 20px;
    background-color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
}
